<div class="border-form-div" >
  <h2>Thiết lập thông tin của: <%= current_user.name %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label "Mật khẩu" %> <i>(để trống nếu bạn không muốn thay đổi)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em>Tối thiểu <%= @minimum_password_length %> kí tự</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label "Nhập lại mật khẩu" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label "Mật khẩu hiện tại" %> <i>(nhập mật khẩu hiện tại để xác nhận thay đổi)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Cập nhật", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3>Hủy tài khoản của tôi</h3>

  <p>Nếu bạn muốn hủy tài khoản, hãy bấm vào nút bên dưới: <%= button_to "Hủy tài khoản của tôi!",
    registration_path(resource_name), data: { confirm: "Bạn chắc chứ?" },
    method: :delete, class: "btn btn-danger" %></p>

  <%= link_to "Back", :back, class: "btn btn-success" %>
</div>
